<h2>Listing Games in <%= @category.name %> category</h2>
<br />
<table width="600px" cellpadding="3" cellspacing="0" border="0">
<% @games.in_groups_of(4, false) do |games_row| %>
	<tr valign="top">
		<% for game in games_row %>
		<td width="150px">
			<p align="center">
			<%= link_to image_tag(game.image.url(:small), :alt => game.name), game %><br />
			<%= link_to game.name, game %>
			</p>
			<p align="center">
			<%= link_to "Edit", edit_game_path(game) %> -
			<%= link_to 'Destroy', game, :confirm => 'Are you sure?', :method => :delete %>
			</p>
		</td>
		<% end %>
	</tr>
<% end %>
</table>
<%= will_paginate @games %>